{% extends 'memorial/base.html' %}

{% block content %}
    <div class="content">

        <p><b>Comunhão:</b> encontro virtual para diálogo, compartilhamento de recordações, sentimentos, escuta e acolhimento mútuo.</p>
        <p>Fizemos uma coletânea com sugestões de como construir esse evento com duração aproximada de 2 horas:</p>

        <ul>
            <li>Separe um cantinho da casa que esteja limpo, organizado e que seja silencioso;</li>
            <li>Escolha objetos especiais para fazer parte desse local: livros, flores, velas, mantas, fotografias ou lembranças relacionadas à pessoa querida;</li>
            <li>Considere cerca de 15 minutos de tolerância para que todas as pessoas convidadas possam entrar na sala virtual e acompanhar o evento desde o início;</li>
            <li>É muito importante lembrar que o luto é vivido de forma diferente por cada pessoa, e que que não existem parâmetros específicos para o sofrimento;</li>
            <li>Se você não souber o que dizer dizer diga: “Eu sinto muito”.</li>
            <li>Escutar é sempre uma prática importante de acolhimento;</li>
        </ul>

        <p>Abaixo, algumas perguntas que podem ser guias:</p>

        <ul>
            <li>Como foi o seu dia?</li>
            <li>Como está se sentindo?</li>
            <li>Qual momento do seu dia tem sido mais desafiador?</li>
        </ul>


        {% block linkbar %}
            {% include 'memorial/linkbar.html' %}
        {% endblock %}

        </div>
{% endblock %}


