{% extends 'memorial/base.html' %}

{% block content %}
            <div class="head">
                    <img src="/static/memorial/img/cultivo.svg" />
                    <div>Comunhão</div>
            </div>


            <p><strong>Encontro virtual para conversa e compartilhamento de recordações, sentimentos, escuta e acolhimento mútuo.</strong></p>

            <p>Existem diferentes ferramentas que podem ser usadas para fazer o encontro, sugerimos o <a href="http://meet.google.com" target="_blank">Google Meet</a> que é gratuito e aceita até 100 pessoas no mesmo encontro. Outra sugestão é o <a href="https://zoom.us" target="_blank">Zoom</a> em sua versão paga, aproximadamente R$90,00.</p>
           
            <p>As conversas virtuais apresentam vários desafios, talvez o maior deles seja permitir que exista, de fato, intimidade e escuta sincera. Por isso, desenhamos a comunhão como um evento para poucas pessoas, que tenham proximidade e afinidade entre si. Recomendamos que o evento tenha um máximo de oito pessoas.</p>
            
            <p>O que fazer em caso de mais pessoas?</p>
            <p>Nossa sugestão é que se façam dois ou mais grupos e que você encaminhe esse guia para outras pessoas, que possam ser de [anfitriões] para esses outros encontros.</p>
            
            <p>Lembre-se que essa conversa também é parte de um ritual de passagem, de despedida da pessoa querida. Por isso é muito importante olhar para si vivenciando suas emoções.</p>
            
            <ul>

            <li>Separe um cantinho da casa que esteja limpo, organizado e que seja silencioso;</li>
            <li>Escolha objetos especiais para fazer parte desse local: livros, flores, velas, mantas, fotografias ou lembranças relacionadas à pessoa querida;</li>
            <li>Como se trata de um grupo pequeno, recomendamos aguardar que todos cheguem antes de iniciar;</li>
            <li>É muito importante lembrar que o luto é vivido de forma diferente por cada pessoa, e que não existem parâmetros específicos para o sofrimento alheio, por isso o respeito ao momento de cada um é essencial;</li>
            <li>Nesse encontro, o mais importante é a escuta e o silêncio também pode ser acolhedor, mas se durante a conversa você não souber o que dizer, diga: “Eu sinto muito”;</li>
            </ul>
            
            Elaboramos aqui um roteiro de perguntas, você não precisa segui-lo, ele é uma sugestão que pode ajudar a conduzir a conversa.
               Como foi o seu dia?
               Como você está se sentindo?
               Qual a lembrança mais marcante você guarda?
               Como está sendo esse momento para você?
               Como você está saindo?
            
            Para finalizar, sugerimos que você escolha uma música que acredita que se conecte com este momento.
            
            Escutem em silêncio e comunguem um pouco.      
            

        {% block linkbar %}
            {% include 'memorial/linkbar.html' %}
        {% endblock %}
{% endblock %}


