{% extends 'memorial/base.html' %}

{% block content %}
    <div class="content">
        <p>Fizemos uma coletânea com sugestões de como construir esse evento com duração aproximada de 2 horas:</p>

        
        <ul>
            <li>Separe um cantinho da casa que esteja limpo, organizado e que seja silencioso;</li>
            <li>Escolha objetos especiais para fazer parte desse local: livros, flores, velas, mantas, fotografias ou lembranças relacionadas à pessoa querida;</li>
            <li>Considere cerca de 15 minutos de tolerância para que todas as pessoas convidadas possam entrar na sala virtual e acompanhar o evento desde o início;</li>
            <li>Comece agradecendo a presença de todas as pessoas que estão presentes e passe a palavra para o orador, caso não seja você;</li>
            <li>Caso o orador seja um representante religioso siga as orientações dele para o ritual. Se este não for o caso compartilhe ideias que gerem reflexão e acolhimento com sensibilidade e carinho. Livros sagrados e filosóficos podem contribuir. Outra opção é resgatar trechos de textos que a pessoa querida gostava ou tinha o costume de ler;</li>
            <li>Faça uma atividade individual que possa ser feita por todos simultaneamente como uma oração, cantar uma música, uma salva de palmas, soltar balões ou plantar uma semente. O objetivo é uma ação conjunta para expressão corporal, contribuindo para elaborar o luto de outras formas.</li>
            <li>Por fim, resgate ideias e desejos que a pessoa querida costumava compartilhar para que elas possam servir de inspiração final do evento.</li>
        </ul>
    </div>
{% endblock %}


