{% extends 'memorial/base.html' %}

{% block body_class %}cerimonia{% endblock %}
{% block content %}
            <p>Fazer um ritual de despedida remoto foi a possibilidade que encontramos diante o isolamento. Fizemos uma coletânea com algumas sugestões que podem contribuir de alguma forma neste momento tão sensível diante a perda. Assim, você pode optar por:</p>
            <p>&nbsp;</p>

            <div class="item">
                <div class="head">
                    <img src="/static/memorial/img/cultivo.svg" />
                    <a class='' href="{% url 'page' page='cerimonia' %}">Cerimônia</a>
                </div>
                <p>Evento virtual para familiares e amigos que queiram homenagear a pessoa querida, um momento para reflexão e contemplação.</p>
            </div>

            <div class="item">
                <div class="head"><img src="/static/memorial/img/cultivo.svg" />
                <a class='' href="{% url 'page' page='comunhao' %}">Comunhão</a>    
                </div>
                
                <p>Encontro virtual para conversa e compartilhamento de recordações, sentimentos, escuta e acolhimento mútuo.</p>
            </div>
            
            
            <div class="item">
                    <div class="head"><img src="/static/memorial/img/cultivo.svg" />
                        <a class='' href="{% url 'add_person' %}">Memorial</a>    
                    </div>
                    <p>Espaço para homenagem da memória da pessoa querida.</p>
            </div>
    
            <p>Este é um local para expressão do luto, uma possibilidade de criação de rituais de comunhão remoto para conforto e alívio na despedida de pessoas queridas vítimas do coronavírus.</p>

            <p>Se você perdeu uma pessoa querida vítima de covid, faça parte.</p>
{% endblock %}