{% extends 'memorial/base.html' %}

{% block content %}
    <div class="content">
            <p>Fazer um ritual de despedida remoto foi a possibilidade que encontramos diante o isolamento. Fizemos uma coletânea com algumas sugestões que podem contribuir de alguma forma neste momento tão sensível diante a perda. Assim, você pode optar por:</p>

            <ul>
                <li><a class='' href="{% url 'page' page='cerimonia' %}">Cerimônia</a>: um evento para amigos e familiares como uma possibilidade para reflexão e contemplação.</li>

                <li><a class='' href="{% url 'page' page='comunhao' %}">Comunhão</a>: encontro virtual para compartilhamento de recordações, sentimentos, escuta e acolhimento mútuo.</li>

                <li><a class='' href="{% url 'add_person' %}">Memorial</a>: espaço para registro da memória da pessoa querida.</li>
            </ul>
    
    </div>
{% endblock %}