{% extends 'memorial/base.html' %}

{% block body_class %}index{% endblock %}
{% block content %}
            <p id="balsamo"><img src="/static/memorial/img/balsamo.svg" /></p>
            <p><strong>Uma planta da família das suculentas conhecida pelas suas propriedades de cura e alívio.</strong></p>

            <p>Uma possibilidade diante o luto para momentos de conforto e alívio na despedida de pessoas queridas vítimas do coronavírus.</p>

            Se você uma perdeu pessoa querida, <a class="" href="{% url 'page' page='explicacao'%}">faça parte</a>.
{% endblock %}
