{% extends 'memorial/base.html' %}

{% block content %}
    <div>
        <h2>{{person.name}}</h2>
        <p>({{person.birth}} - {{person.death}})</p>

        <p>{{person.bio}}</p>
    </div>
    <hr />
    <div>
        <p>Deixe aqui uma recordação sobre essa pessoa:</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value="Enviar">
        </form>
    </div>

    {% if memories %}
    <div>
        <h3>Memórias</h3>
        {% for m in memories %}
            <p>{{m.memory}}</p>
            <hr />
        {% endfor %}
    
    </div>
    {% endif %}

    {% block linkbar %}
        {% include 'memorial/linkbar.html' %}
    {% endblock %}
    
{% endblock %}