{% extends 'memorial/base.html' %}

{% block content %}
        <div class="info">
            <h2><strong>{{person.name}}</strong></h2>
            <p class="obito">{{person.birth}} - {{person.death}}</p>

            <p>{{person.bio}}</p>
        </div>

        <div class="comment">
            <p><strong>Deixe aqui uma recordação sobre essa pessoa:</strong></p>
            
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
            <input type="submit" value="Enviar">
            </form>
        </div>

        {% if memories %}
        <div class="memories">
            <div class="head">
                <h2>Memórias</h2>
                <img src="/static/memorial/img/cultivow.svg" />
            </div>

            {% for m in memories %}
            <div class="memory">    
                <p>{{m.memory|linebreaks}}</p>
                <i class="user">{% if m.user.first_name %}--{% endif %} {{m.user.first_name}} {{m.user.last_name}}</i>
                {% if perms.memorial.delete_memory %}
                    (<a href="{% url 'memory_delete' pk=m.id %}">delete</a>)
                {% endif %}
            </div>
            {% endfor %}
        
        </div>
        {% endif %}

        {% block linkbar %}
            {% include 'memorial/linkbar.html' %}
        {% endblock %}
{% endblock %}